@model EP.BulkMessage.Presentation.Web.ViewModel.CampaignVM
@{
    Layout = null;
}

<h2>Email Campaign</h2>
@Html.Partial("FileUploader")
@using (Ajax.BeginForm("Create", "Campaign", new AjaxOptions { UpdateTargetId="divReport", OnSuccess="ShowReport" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <ol>
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
                <br />
                @Html.ValidationMessageFor(m => m.Name)
            </li>
            <li>
                <label id="lblRecipientField">
                    Email Field
                </label>
                @Html.TextBoxFor(m => m.RecipientField)
                <br />
                @Html.ValidationMessageFor(m => m.RecipientField)
            </li>

            <li id="liSubject">
                @Html.LabelFor(m => m.Subject, new { id = "txtSubject" })
                @Html.TextBoxFor(m => m.Subject)
                <br />
                @Html.ValidationMessageFor(m => m.Subject)
            </li>
            <li class="clear" id="liContent">
                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content, new { @class = "text-tinymce", id = "contentEditor" })
                @Html.ValidationMessageFor(m => m.Content)
            </li>


        </ol>
        <div class="form-button clear">
            @Html.HiddenFor(p => p.Id)
            @Html.HiddenFor(p => p.TypeId)
            @Html.HiddenFor(p => p.Type, new { id = "hdnType" })
            @Html.HiddenFor(p => p.FileName, new { id = "hdnFileName" })
            <input type="submit" value="Validate" />
            <input type="button" value="Cancel" onclick="history.back();" />
        </div>
    </fieldset>
}
<script>
    tinyMCE.init({
        // General options
        mode: "textareas",
        theme: "advanced",
        plugins: "autolink,lists,pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template,wordcount,advlist,autosave,visualblocks",
        editor_selector: "text-tinymce",
        // Theme options
        theme_advanced_buttons1: "bold,italic,underline,strikethrough,|,hr,removeformat,|,ltr,rtl,|,fullscreen",
        theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,cleanup,code,preview",
        theme_advanced_toolbar_location: "top",
        theme_advanced_toolbar_align: "left",
        theme_advanced_statusbar_location: "bottom",
        theme_advanced_resizing: true,
        forced_root_block: '',
    });
</script>